* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

:root {
    --cor-primaria: #f8f9fa;
    --cor-segundaria: #0077b6;
    --cor-terciaria: #023e8a;
}

/*Barra de Navegação*/
nav {
    height: 80px;
    display: flex;
    justify-content: space-between;,
}

.logo img {
    height: 80px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-segundaria);
    font-size: 24px;
    font-weight: 500;
    padding: 5px 2px 5px 1px;
    text-align: center;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

/*Conteudo Principal*/
.bloco-principal {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.titulo {
    font-size: 50px;
    color: var(--cor-segundaria);
}

.bloco-principal-conteudo {
    border-right: 4px solid var(--cor-segundaria);
}
.bloco-principal-conteudo p {
    font-size: 20px;
    margin: 5px 15px 0 0;
}

/*Rodapé

Precisa melhorar a forma de declarar o height do footer*/
footer {
    height: 93px;
    background: var(--cor-segundaria);
    display: flex;
    justify-content: center;
}

.bloco-rodape {
    margin-top: 15px;
    color: var(--cor-primaria)
}
